body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* the buttons spaces are declared and establisehd here */
.mytopmargin{margin-top: 15px;}
.btnMargins{margin-bottom: 10px;}

/* photo gallery part starts bere*/
.container {
  display: flex;
  width: 100%;
  padding: 0% 1%;
  box-sizing: border-box;
  height: 60vh;
  margin-bottom: 20px;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 1%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;
}

.box > img {
  width: 100%;
  height: calc(120% - 10vh);
  object-fit: cover; 
  transition: .5s;
}

.box:hover { flex: 1 1 50%; }
.box:hover > img {
  width: 100%;
  height: 100%;
}
 
